.project-section {
    width: 100%;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.8);
    padding-bottom: 30px;
}

.project-section h3 {
    margin-top: 30px;
    margin-bottom: 5px;
}

.project-section h5 {
    margin-top: 20px;
    margin-bottom: 5px;
}
