body {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f4f3ee;
    /* 종이 질감 추가 */
    background-image: repeating-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.015) 0px,
        transparent 1px,
        transparent 2px,
        rgba(0, 0, 0, 0.015) 3px
    );
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
span,
hr,
li,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h1 {
    font-size: 2.5rem; /* 40px */
    font-weight: 700;
}
h2 {
    font-size: 2rem; /* 32px */
    font-weight: 700;
}
h3 {
    font-size: 1.5rem; /* 24px */
    font-weight: 600;
}
h4 {
    font-size: 1.25rem; /* 20px */
}
h5 {
    font-size: 1rem; /* 16px */
}
h6 {
    font-size: 0.875rem; /* 14px */
}

p,
a,
span,
strong {
    font-size: 1rem; /* 16px */
    line-height: 1.6;
    font-weight: 500;
    color: #333;
}

strong,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem; /* 16px */
    line-height: 1.6;
    font-weight: 700;
    color: #020403;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem; /* 32px */
    }
    h2 {
        font-size: 1.5rem; /* 24px */
    }
    h3 {
        font-size: 1.25rem; /* 20px */
    }
    h4 {
        font-size: 1rem; /* 16px */
    }
    h5 {
        font-size: 0.875rem; /* 14px */
    }
    h6 {
        font-size: 0.8rem; /* 12px */
    }
    a,
    p,
    span,
    strong {
        font-size: 0.875rem; /* 14px */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem; /* 24px */
    }
    h2 {
        font-size: 1.25rem; /* 20px */
    }
    h3 {
        font-size: 1rem; /* 16px */
    }
    h4 {
        font-size: 0.875rem; /* 14px */
    }
    h5 {
        font-size: 0.8rem; /* 12px */
    }
    h6 {
        font-size: 0.75rem; /* 10px */
    }
    a,
    p,
    span,
    strong {
        font-size: 0.8rem; /* 12px */
    }
}
